<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div class="container">
    <p>
        <h3>You have logged in!</h3>
        <h3 th:text="'Login Time is:' + ${time}"></h3>>
        <a href="/logout">Log out</a>
        <br />
    </p>

</div>

<div class="cal-sm-6">
    <div class="well">
        <h3><span class="fa fa-user"></span>Local</h3>

        <p>
            <img th:src="${#httpServletRequest.getParameter('picUrl')}"/><br/>
        </p>

    </div>

    <div>
        <form method="post" enctype="multipart/form-data" action="/uploadSuc">
            <table>
                <tr><td>Picture to upload:</td>
                    <td><input type="file" name="file" /></td></tr>
                <tr><td>About me:</td>
                    <td><input type="text" name="about"/></td></tr>
                <tr><td></td>
                    <td><input type="submit" value="Upload"/></td></tr>
            </table>
        </form>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>